<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-family: "Ubuntu Mono", monospace;
        }
        html, body {
            height: 100%;
        }
        body {
            line-height: 1.5;
            background-color: #F1F3F6;
            color: #34495E;
            overflow-y: scroll;
        }
        header {
            background-size: 100% 6px;
            background-repeat: no-repeat;
            border-bottom: 1px solid #E4E5E7;
            overflow: auto;
            padding-top: 33px;
            padding-bottom: 27px;
            text-align: center;
        }
        h2 {
            font-size: 22px;
            margin-bottom: 36px;
            position: relative;
            top: -9px;
        }
        a {
            color: #62CB31;
            text-decoration: none;
        }
        a:hover {
            color: #4EB722;
            text-decoration: underline;
        }

        table {
            background: white;
            border: 1px solid #E4E5E7;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            text-align: left;
            padding: 9px 18px;
        }

        th:last-child, td:last-child {
            text-align: right;
            color: #6A6C6F;
        }

        tr {
            border-bottom: 1px solid #E4E5E7;
        }

        tr:nth-child(2n) {
            background-color: #F7F9FA;
        }
    </style>
    <title>Панель управления</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
