<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Панель управления</title>
</head>
<body>
<nav class="menu">
    <ul style="list-style: none;">
        <li><a href="/">Главная</a></li>
        <li><a href="/adverts">Объявления</a></li>
        <li><a href="/adverts/new">Подать объявление</a></li>
    </ul>
</nav>
{% block body %}{% endblock %}
</body>
</html>