{% extends "base.twig" %}

{% block body %}
    <h1>Добро пожаловать в панель управления, {{ name }}</h1>
    <a href="adverts/new">Админка</a>
    <a>---</a>
    <a href="adverts">Список</a>
{% endblock %}