{% extends "base.twig" %}

{% block body %}
    <h1>Добро пожаловать в панель управления, {{ name }}</h1>
    <a href="{{ url_for('adverts.index') }}">Объявления</a>
    <a href="{{ url_for('categories.index') }}">Категории</a>
{% endblock %}