{% extends "base.twig" %}

{% block body %}

    <h1>Список объявлений</h1>

    <ul>
        <li>{{advert.getTitle()}}</li>
        <li>{{advert.getDescription()}}</li>
        <li>{{advert.getPrice()}}</li>
    </ul>

{% endblock %}