{% extends "base.twig" %}

{% block body %}

    <h1>{{ advert.title }}</h1><br>

    <p>{{ advert.description }}</p><br>

    <h3> Цена: {{ advert.price }} тг</h3>


    <a href="http://localhost:8000/adverts/{{ advert.id }}/edit">
        <button type="button" value="Edit">
            Редактировать
        </button>
    </a>



{% endblock %}