{% extends "base.twig" %}

{% block body %}
    <h1>ADDS</h1>
    <ul>
        {% for advert in adverts %}
            <li><a href = "/adverts/{{ advert.getId() }}">{{ advert.getTitle() }}</li>
        {% endfor %}
    </ul>

    <p><a href="/adverts/new">Новое объявление</a></p>
{% endblock %}