{% extends "base.twig" %}

{% block body %}
	<div class="container">
		<h1>Список объявлений</h1>
		{% for advert in adverts %}
			<h4>{{ advert.title }}</h4>
			<p>{{ advert.description }}</p>
			<p>{{ advert.price }}</p>
			<p>
				<a href="adverts/{{ advert.id }}">
					<button>
						Edit
					</button>
				</a>
			</p>
		{% endfor %}
	</div>

{% endblock %}
