{% extends "base.twig" %}

{% block body %}
    <h1>Объявление</h1>

    <ul>
        {% for advert in adverts %}
            <li>{{ advert.getTitle() }}</li>
            <li>{{ advert.getDescription() }}</li>
            <li>{{ advert.getPrice() }}</li>
        {% endfor %}
    </ul>
{% endblock %}