{% extends "base.twig" %}



{% block body %}
    <h1>Список объявлений</h1>

    <ol>
        {% for advert in adverts %} 
            <li>{% include "adverts/showOne.twig" with [advert] %}</li>
        {% endfor %}
    </ol>
{% endblock %}