{% extends "base.twig" %}

{% block body %}
    <h1>Список объявлений</h1>

    <ul>
        {% for advert in adverts %}
            <li ><a >{{ advert.getTitle() }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}