{% extends "base.twig" %}

{% block body %}
    <h1>Список объявлений</h1>

    <ul>
        {% for advert in adverts %}
            <li><a href="/adverts/{{ advert.getId() }}">{{ advert.getTitle() }} – {{ advert.getPrice() }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}