{% extends "base.twig" %}

{% block body %}
    <h1>Список объявлений</h1>

    <ul>
        {% for advert in adverts %}
            <li><a href="/adverts/{{ advert.getId }}">{{ advert.getTitle() }}</a> <a href="/adverts/{{ advert.getId }}/edit"><button style="cursor: pointer;">Редактировать</button></a></li>
        {% endfor %}
    </ul>
{% endblock %}
