{% extends "base.twig" %}

{% block body %}
    <h1>Список объявлений</h1>

    <form action="/adverts" method="get">
        <div>
            <select name="category_id">
                <option value="0">Все категории</option>
                {% for category in categories %}
                    <option value={{ category.id }}>{{ category.title }}</option>
                {% endfor %}
            </select>

            <input type="text" name="title" value="{{ data.title ?? '' }}">

            <input type="submit" value="Search">
        </div>
    </form>

    <ul>
        {% for advert in adverts %}
            <li>{{ advert.getTitle() }}</li>
        {% endfor %}
    </ul>
{% endblock %}