{% extends "base.twig" %}

{% block body %}
    <h1>Список объявлений</h1>

    <ul>
        {% for advert in adverts %}
            <li>
            <a href = "/adverts/{{advert.getId}}"> {{ advert.getTitle() }} </a>
            <a href = "/adverts/{{advert.getId}}/edit"> <a>Edit</a> </a>
            <form method = "post" action = "/adverts/{{adverts.getId}}/delete"> <a>Delete</a> </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}