{% extends "base.twig" %}

{% block body %}
    <h1>Список объявлений</h1>
    <div>
        <a href="/adverts/new">Create advert</a>
    </div>
    <ul>
        {% for advert in adverts %}
            <li><a href="/advert/{{ advert.getId() }}">{{ advert.getTitle() }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}