{% extends "base.twig" %}

{% block body %}
    <h1>Объявление {{advert.getId()}}</h1>
    <p>{{ advert.getTitle() }}</p>
    <p>{{ advert.getDescription() }}</p>
    <p>{{ advert.getPrice() }} тенге</p>
{% endblock %}