{% extends "base.twig" %}

{% block body %}
    <h1>Подать новое объявление</h1>
    {% if errors is not empty %}
        <div style="color: red">При сохранении произошла ошибка</div>
        <br>
    {% endif %}
    <form action="/adverts" method="post">
        {% include "adverts/form.twig" %}
        <input type="submit" value="Создать">
    </form>
{% endblock %}
