{% extends "base.twig" %}

{% block body %}

    <h1>Просмотр объявления</h1>
    <h2>{{ advert.getTitle() }}</h2>
    <h4>{{ advert.getDescription() }}</h4>
    <h3>{{ advert.getPrice() }}</h3>

{% endblock %}