{% extends "base.twig" %}

{% block body %}
    <h1>Объявление</h1>

    <ul>
        {% for advert in adverts %}
            <li>{{ advert['header'] }}</li>
            <li>{{advert['description']}}</li>
            <li>{{advert['price']}}</li>
            </br>
        {% endfor %}
    </ul>
{% endblock %}